body {font-family: Arial;
	  font-size: 200%;
	  background-color: #FFFFFF;
	  margin: 0;  
}

header {background-color: #0D0576;
		color: #FFFFFF;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
}

#icone_pagina_inicial {width: 40px;
				height: auto;
				position: absolute;
				left: 34px;
				top: 100px;
}

#botao_opcoes {width: 50px;
			   height: auto;
			   position: absolute;
			   left: 20px;
			   top: 15px;
}

#menu_opcoes {width: 105px;
	   height: 835px;
	   background-color: #0D0576;
	   display: block;
}

.botoes_menu {font-size: 12px;
			  color: #FFFFFF;

}

#botao_opcoes:hover {cursor: pointer;
}

#opcoes_login:hover {cursor: pointer;
}

#botao_sair:hover{cursor: pointer;
}

#div_drop_down {width: 100px;
	            height: auto;
				border-radius: 5px;
				position:absolute;
				right: 5px;
				top: 70px;
				font-size: 14px;
				border: 2px solid #dcdcdc;
				color: #000000;
				background-color: #E1DBDB;
				display: none;
			}

#imagem_usuario {width: 30px;
				 height: auto;
				 border-radius: 50%;
				 position: absolute;
				 right: 30px;
				 top: 18px;
}

#img_usuario_logado {width: 30px;
	height: auto;
	border-radius: 50%;
	position: absolute;
	right: 30px;
	top: 18px;
	display: none;
}

#label_login {position: absolute;
			  top: 43px;
			  right: 30px;
			  font-size: 12px;
}

#lbl_usuario_logado {position: absolute;
	top: 43px;
	right: 5px;
	font-size: 12px;
	display: none;
  }

#botao_pg_inicial {border-top: 1px solid #dcdcdc;		  
	        border-bottom: 1px solid #dcdcdc;
    		  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
			  height: 95px;
			  margin-bottom: 2px;
			  margin-right: 1px;
}

#imagem_atencao {width: 62px;
				 height: auto;
				 position: absolute;
				 top: 178px;
				 left: 22px;
}

#label_reportar {position: absolute;
			  top: 235px;
			  left: 29px;
}

#botao_reportar {border-bottom: 1px solid #dcdcdc;
				box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
				margin-bottom: 2px;
				margin-right: 1px; 
				height: 95px;
}

#botao_reportar:hover {cursor: pointer;
}

#imagem_historico {width: 44px;
				 height: auto;
				 position: absolute;
				 top: 290px;
				 left: 29px;
}

#label_historico {position: absolute;
			 	  top: 333px;
				  left: 27px;
}

#botao_historico {border-bottom: 1px solid #dcdcdc;
				  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
				  margin-bottom: 2px;
				  margin-right: 1px; 
    			  height: 95px;
}

#imagem_info {width: 32px;
			  height: auto;
			  position: absolute;
			  top: 385px;
			  left: 34px;
}

#label_info {position: absolute;
			  top: 430px;
			  left: 34px;
}

#botao_info {border-bottom: 1px solid #dcdcdc;
			 box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
			 margin-bottom: 2px;
			 margin-right: 1px; 
			 height: 95px;
}

#imagem_sair {width: 45px;
			  height: auto;
			  position: absolute;
			  top: 482px;
			  left: 27px;
}

#label_sair {position: absolute;
			  top: 525px;
			  left: 39px;
}

#botao_sair {border-bottom: 1px solid #dcdcdc;
	         box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
	         margin-bottom: 2px;
	         margin-right: 1px; 
			 height: 95px;
}

a {all: unset;
   cursor: pointer;
}

ul {list-style: none;
	font-size: 20px;
}

li {padding-top: 10px;
	padding-bottom: 15px;}

label {font-size: 20px;
}

#section_formulario {position: absolute;
					top: 60px;
					left: 70px;
}

input[type="text"] {height: 20px;
					width: 400px;
					margin-top: 10px;
					margin-bottom: 30px;
}


#txtarea_descricao {height: 150px;
   				    width: 400px;
				    margin-top: 10px;
				    margin-bottom: 30px;
}

fieldset {border: none;
}

input[type="radio"] {display: none;
}

.div_radio{display: inline-block;
		   margin: 0;
		   padding: 0;
		   background-color: #C0C0C0;
}

.opcoes_severidade{border: 2px solid #0D0576;
	     		   border-radius: 5px; 
				   width: 365px;
}

#div_rd_media {position: absolute;
			   left: 188px;
			   border-left: 2px solid #0D0576;
			   border-right: 2px solid #0D0576;
}

#div_rd_baixa {position: absolute;
			   left: 313px;
}

.opcoes_radio {display: inline-block;
			   border-radius: 5px; 
	           cursor: pointer;
			   width: 120px;
			   height: 25px;
			   text-align: center;	
}
 
input[type="radio"]:checked + label {
      border-color: #007BFF;
      background-color: #E0F0FF;
      color: #007BFF;
      font-weight: bold;
}

#btn_enviar {position: absolute;
			left: 70px;
			width: 80px;
			height: 30px;
			font-weight: bold;
			width: 120px;
			height: 30px;
			color: #FFF;
			background-color: #0D0576;
			font-size: 16px;
			top: 700px;
}

#btn_cancelar {position: absolute;
			left: 250px;
    		font-weight: bold;
			width: 120px;
			height: 30px;
			color: #FFF;
			background-color: #0D0576;
			font-size: 16px;
			top: 700px;
}


#mapa {width:auto;
	/*height: 59.8vw;*/
	height: 800px;
	position: absolute;
    right: 5px;
	top: 100px;
	left: 580px;
	border: 2px solid #dcdcdc;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 

}

button:hover {cursor: pointer;
}
			 
#btn_cancelar:hover,#btn_enviar:hover {background-color: #2921a0}

@media(max-width: 950px) {
	#mapa{top: 820px;
		left: 115px;
	}
	input[type="text"] {width: 60vw;}
	#txtarea_descricao {width: 60vw;}
	.opcoes_severidade {width: 326px;}
	.opcoes_radio {width: 110px;}
	#div_rd_media {left:170px;}
	#div_rd_baixa {left: 284px;}
    header {width: 100vw;}
	#menu_opcoes {height: 1550px;}
}

.legend-box {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    width: 200px;
}

.legend-header {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

#legend-toggle {
    font-size: 18px;
    user-select: none;
}

#legend-content div {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.legend-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border-radius: 3px;
}