body {font-family: Arial;
	  font-size: 200%;
	  background-color: #FFFFFF;
	  margin: 0;
}

header {background-color: #0D0576;
		color: #FFFFFF;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
}

#icone_pagina_inicial {width: 40px;
	height: auto;
	position: absolute;
	left: 34px;
	top: 100px;
}

#botao_opcoes {width: 50px;
   height: auto;
   position: absolute;
   left: 20px;
   top: 15px;
}

#menu_opcoes {width: 105px;
height: 835px;
background-color: #0D0576;
display: block;
}

.botoes_menu {font-size: 12px;
  color: #FFFFFF;

}

#botao_opcoes:hover {cursor: pointer;
}

#opcoes_login:hover {cursor: pointer;
}

#botao_sair:hover{cursor: pointer;
}

#div_drop_down {width: 100px;
	            height: auto;
				border-radius: 5px;
				position:absolute;
				right: 5px;
				top: 70px;
				font-size: 14px;
				border: 2px solid #dcdcdc;
				color: #000000;
				background-color: #E1DBDB;
				display: none;
			}


#imagem_usuario {width: 30px;
	 height: auto;
	 border-radius: 50%;
	 position: absolute;
	 right: 30px;
	 top: 18px;
}

#img_usuario_logado {width: 30px;
	height: auto;
	border-radius: 50%;
	position: absolute;
	right: 30px;
	top: 18px;
	display: none;
}

#label_login {position: absolute;
  top: 43px;
  right: 30px;
  font-size: 12px;
}

#lbl_usuario_logado {position: absolute;
	top: 43px;
	right: 5px;
	font-size: 12px;
	display: none;
  }

#botao_pg_inicial {border-top: 1px solid #dcdcdc;		  
border-bottom: 1px solid #dcdcdc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
  height: 95px;
  margin-bottom: 2px;
  margin-right: 1px;
}

#imagem_atencao {width: 62px;
	 height: auto;
	 position: absolute;
	 top: 178px;
	 left: 22px;
}

#label_reportar {position: absolute;
  top: 235px;
  left: 29px;
}

#botao_reportar {border-bottom: 1px solid #dcdcdc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
	margin-bottom: 2px;
	margin-right: 1px; 
	height: 95px;
}

#imagem_historico {width: 44px;
	 height: auto;
	 position: absolute;
	 top: 290px;
	 left: 29px;
}

#label_historico {position: absolute;
	   top: 333px;
	  left: 27px;
}

#botao_historico {border-bottom: 1px solid #dcdcdc;
	  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
	  margin-bottom: 2px;
	  margin-right: 1px; 
	  height: 95px;
}

#imagem_info {width: 32px;
  height: auto;
  position: absolute;
  top: 385px;
  left: 34px;
}

#label_info {position: absolute;
  top: 430px;
  left: 34px;
}

#botao_info {border-bottom: 1px solid #dcdcdc;
 box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
 margin-bottom: 2px;
 margin-right: 1px; 
 height: 95px;
}

#imagem_sair {width: 45px;
  height: auto;
  position: absolute;
  top: 482px;
  left: 27px;
}

#label_sair {position: absolute;
  top: 525px;
  left: 39px;
}

#botao_sair {border-bottom: 1px solid #dcdcdc;
 box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
 margin-bottom: 2px;
 margin-right: 1px; 
 height: 95px;
}

a {all: unset;
cursor: pointer;
}

form {font-size: 16px;
	  font-weight: bold;
}

#div_endereco {position: absolute;
			  top: 100px;
	          left: 180px;
}

#input_endereco {width: 270px;
}

#div_cep {position: absolute;
	top: 100px;
	right: 250px;
}

input {border-radius: 5px;
	   height: 20px;
}

#btn_pesquisar{width: 65px;
				height: 40px;
				position: absolute;
			   top: 90px;
			   right: 10px;
}

#img_lupa {width: 25px;
	height: 25px;
}

#mapa {width: auto;
	/*height: 59.8vw;*/
	height: 760px;
	position: absolute;
	top: 150px;
	left: 110px;
	border: 2px solid #dcdcdc;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
	right: 5px;
}

#previsao_tempo_texto {
  position: absolute;
  top: 200px; /
  right: 30px;
  left: 650px;
  background-color: rgba(13, 5, 118, 0.85);
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  z-index: 1001;
}


@media (max-width: 800px) {
	#div_cep {position: absolute;
		      top: 135px;
	          left: 22vw;
			  width: 250px;
	}
	#input_cep {position: absolute;
		left: 72px;
		width: 20vw;
}
	#div_endereco {position: absolute;
				left: 22vw;
}
	#input_endereco {position: absolute;
				width: 40vw;
}
	#btn_pesquisar{top: 100px;
}
    #mapa {position: absolute;
	top: 170px;
	height: 740px;
	}
}

@media (min-width: 801px) and (max-width: 1050px) {
	#div_cep {position: absolute;
			  top: 135px;
	          left: 40vw;
			  width: 250px;
	}

	#div_endereco {position: absolute;
		    	left: 40vw;
				width: 450px;
}
	#input_cep {position: absolute;
				left:77px;

	}
    #btn_pesquisar{top: 100px;
}

#mapa {position: absolute;
	top: 170px;
	height: 740px;
}
}