body {
    font-family: Arial, sans-serif;
    font-size: 200%;
    margin: 0;
    background-image: url("../imagens/fundo_tempestade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    background-color: #0D0576;
    color: #FFFFFF;
    padding: 10px 0;
    border-bottom: 3px solid #000000;
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}

section {
    background-color: #E1DBDB;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
}

fieldset {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

input {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #0D0576;
    color: #FFFFFF;
    width: 80%;
    font-size: 1.2rem;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2921a0;
}

p {
    font-size: 0.9rem;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

a {
    all: unset;
    cursor: pointer;
    color: #0000EE;
}

a:hover {
    text-decoration: underline;
}